.App {
  text-align: center;
}

.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 0 auto;
  max-width: 200px;
  display: blockk;
}

.App-link {
  color: #61dafb;
}

.App footer {
  color: #61dafb;
  text-align: center;
  margin: 0 auto;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  display: inline-block;
  position: relative;
  background-color: #9896f1;
  border-radius: 99px;
  padding: 0.4rem 3.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
