.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
}

.Phonetic a:hover {
  background: #ddd;
  color: white;
}

.Phonetic {
  margin: 20px;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
